{% extends 'base.html' %}
{% block content %}
    {% if object %}
        <h1>Edit <span class="teal-text">{{ object.name }}</span></h1>
    {% else %}
        <h1>Add Cat</h1>
    {% endif %}
    <!-- by leaving the action empty, this allows the form to submit -->
    <!-- to the same url that was used to render it. (the submit changes the HTTP to POST) -->
    <form action="" method="POST">
        <!-- Django requires is our cross-site request forgery token -->
        {% csrf_token %}
        <table>
            <!-- Render the inputs inside of a table with <tr>s and <td>s -->
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit!" class="btn">
    </form>
    <!-- if you want a toys dropdown, you can add this code here -->
    <!-- be warned, doesnt like it if there are no toys -->
    <!-- <script>
        // add some js to fix up our selector tool
        const selectEl = document.getElementById('id_toys')
        M.FormSelect.init(selectEl)
    </script> -->
{% endblock %}